/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html { box-sizing: border-box; }

*, *:before, *:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */ box-sizing: inherit; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }

.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

/*--------------------------------------------------------------
# Alignments for WP
--------------------------------------------------------------*/
.alignleft { display: inline; float: left; margin-right: 1.5em; }

.alignright { display: inline; float: right; margin-left: 1.5em; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

/* Inline Responsive Media Query */
/** Foundation for Sites by ZURB Version 6.2.0 foundation.zurb.com Licensed under MIT Open Source */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/** 1. Set default font family to sans-serif. 2. Prevent iOS and IE text size adjust after device orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability of focused elements when they are also in an active/hover state. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width. 1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome. */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ box-sizing: content-box; /* 2 */ }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. [NOTE] We don't enable this ruleset in Foundation, because we want the <fieldset> element to have plain styling. */
/* fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; } */
/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

.foundation-mq { font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"; }

html { font-size: 62.5%; box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body { padding: 0; margin: 0; font-family: "adelle", serif; font-weight: normal; line-height: 1.5; color: #0a0a0a; background: #fefefe; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

img { max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; display: inline-block; vertical-align: middle; }

textarea { height: auto; min-height: 50px; border-radius: 0; }

select { width: 100%; border-radius: 0; }

#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object, .mqa-display img, .mqa-display embed, .mqa-display object { max-width: none !important; }

button { -webkit-appearance: none; -moz-appearance: none; background: transparent; padding: 0; border: 0; border-radius: 0; line-height: 1; }

.is-visible { display: block !important; }

.is-hidden { display: none !important; }

.row { max-width: 160rem; margin-left: auto; margin-right: auto; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; }

.row .row { margin-left: -1rem; margin-right: -1rem; }

@media screen and (min-width: 40em) { .row .row { margin-left: -1.5rem; margin-right: -1.5rem; } }

.row.expanded { max-width: none; }

.row.collapse > .column, .row.collapse > .columns { padding-left: 0; padding-right: 0; }

.column, .columns { -webkit-box-flex: 1; -webkit-flex: 1 1 0px; -ms-flex: 1 1 0px; flex: 1 1 0px; padding-left: 1rem; padding-right: 1rem; }

@media screen and (min-width: 40em) { .column, .columns { padding-left: 1.5rem; padding-right: 1.5rem; } }

.column.row.row, .row.row.columns { float: none; }

.row .column.row.row, .row .row.row.columns { padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0; }

.small-1 { -webkit-box-flex: 0; -webkit-flex: 0 0 8.33333%; -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }

.small-offset-0 { margin-left: 0%; }

.small-2 { -webkit-box-flex: 0; -webkit-flex: 0 0 16.66667%; -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }

.small-offset-1 { margin-left: 8.33333%; }

.small-3 { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }

.small-offset-2 { margin-left: 16.66667%; }

.small-4 { -webkit-box-flex: 0; -webkit-flex: 0 0 33.33333%; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }

.small-offset-3 { margin-left: 25%; }

.small-5 { -webkit-box-flex: 0; -webkit-flex: 0 0 41.66667%; -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }

.small-offset-4 { margin-left: 33.33333%; }

.small-6 { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }

.small-offset-5 { margin-left: 41.66667%; }

.small-7 { -webkit-box-flex: 0; -webkit-flex: 0 0 58.33333%; -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }

.small-offset-6 { margin-left: 50%; }

.small-8 { -webkit-box-flex: 0; -webkit-flex: 0 0 66.66667%; -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }

.small-offset-7 { margin-left: 58.33333%; }

.small-9 { -webkit-box-flex: 0; -webkit-flex: 0 0 75%; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }

.small-offset-8 { margin-left: 66.66667%; }

.small-10 { -webkit-box-flex: 0; -webkit-flex: 0 0 83.33333%; -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }

.small-offset-9 { margin-left: 75%; }

.small-11 { -webkit-box-flex: 0; -webkit-flex: 0 0 91.66667%; -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }

.small-offset-10 { margin-left: 83.33333%; }

.small-12 { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

.small-offset-11 { margin-left: 91.66667%; }

.small-order-1 { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }

.small-up-1 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.small-up-1 > .column, .small-up-1 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

.small-order-2 { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }

.small-up-2 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.small-up-2 > .column, .small-up-2 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }

.small-order-3 { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }

.small-up-3 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.small-up-3 > .column, .small-up-3 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 33.33333%; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }

.small-order-4 { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; }

.small-up-4 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.small-up-4 > .column, .small-up-4 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }

.small-order-5 { -webkit-box-ordinal-group: 6; -webkit-order: 5; -ms-flex-order: 5; order: 5; }

.small-up-5 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.small-up-5 > .column, .small-up-5 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 20%; -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; }

.small-order-6 { -webkit-box-ordinal-group: 7; -webkit-order: 6; -ms-flex-order: 6; order: 6; }

.small-up-6 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.small-up-6 > .column, .small-up-6 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 16.66667%; -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }

.small-up-1 > .column, .small-up-1 > .columns { width: 100%; float: left; }

.small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) { clear: none; }

.small-up-1 > .column:nth-of-type(1n+1), .small-up-1 > .columns:nth-of-type(1n+1) { clear: both; }

.small-up-1 > .column:last-child, .small-up-1 > .columns:last-child { float: left; }

.small-up-2 > .column, .small-up-2 > .columns { width: 50%; float: left; }

.small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) { clear: none; }

.small-up-2 > .column:nth-of-type(2n+1), .small-up-2 > .columns:nth-of-type(2n+1) { clear: both; }

.small-up-2 > .column:last-child, .small-up-2 > .columns:last-child { float: left; }

.small-up-3 > .column, .small-up-3 > .columns { width: 33.33333%; float: left; }

.small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) { clear: none; }

.small-up-3 > .column:nth-of-type(3n+1), .small-up-3 > .columns:nth-of-type(3n+1) { clear: both; }

.small-up-3 > .column:last-child, .small-up-3 > .columns:last-child { float: left; }

.small-up-4 > .column, .small-up-4 > .columns { width: 25%; float: left; }

.small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) { clear: none; }

.small-up-4 > .column:nth-of-type(4n+1), .small-up-4 > .columns:nth-of-type(4n+1) { clear: both; }

.small-up-4 > .column:last-child, .small-up-4 > .columns:last-child { float: left; }

.small-up-5 > .column, .small-up-5 > .columns { width: 20%; float: left; }

.small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) { clear: none; }

.small-up-5 > .column:nth-of-type(5n+1), .small-up-5 > .columns:nth-of-type(5n+1) { clear: both; }

.small-up-5 > .column:last-child, .small-up-5 > .columns:last-child { float: left; }

.small-up-6 > .column, .small-up-6 > .columns { width: 16.66667%; float: left; }

.small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) { clear: none; }

.small-up-6 > .column:nth-of-type(6n+1), .small-up-6 > .columns:nth-of-type(6n+1) { clear: both; }

.small-up-6 > .column:last-child, .small-up-6 > .columns:last-child { float: left; }

.small-up-7 > .column, .small-up-7 > .columns { width: 14.28571%; float: left; }

.small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) { clear: none; }

.small-up-7 > .column:nth-of-type(7n+1), .small-up-7 > .columns:nth-of-type(7n+1) { clear: both; }

.small-up-7 > .column:last-child, .small-up-7 > .columns:last-child { float: left; }

.small-up-8 > .column, .small-up-8 > .columns { width: 12.5%; float: left; }

.small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) { clear: none; }

.small-up-8 > .column:nth-of-type(8n+1), .small-up-8 > .columns:nth-of-type(8n+1) { clear: both; }

.small-up-8 > .column:last-child, .small-up-8 > .columns:last-child { float: left; }

.small-collapse > .column, .small-collapse > .columns { padding-left: 0; padding-right: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns { padding-left: 1rem; padding-right: 1rem; }

@media screen and (min-width: 40em) { .medium-1 { -webkit-box-flex: 0; -webkit-flex: 0 0 8.33333%; -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .medium-offset-0 { margin-left: 0%; }
  .medium-2 { -webkit-box-flex: 0; -webkit-flex: 0 0 16.66667%; -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .medium-offset-1 { margin-left: 8.33333%; }
  .medium-3 { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .medium-offset-2 { margin-left: 16.66667%; }
  .medium-4 { -webkit-box-flex: 0; -webkit-flex: 0 0 33.33333%; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .medium-offset-3 { margin-left: 25%; }
  .medium-5 { -webkit-box-flex: 0; -webkit-flex: 0 0 41.66667%; -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .medium-offset-4 { margin-left: 33.33333%; }
  .medium-6 { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .medium-offset-5 { margin-left: 41.66667%; }
  .medium-7 { -webkit-box-flex: 0; -webkit-flex: 0 0 58.33333%; -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .medium-offset-6 { margin-left: 50%; }
  .medium-8 { -webkit-box-flex: 0; -webkit-flex: 0 0 66.66667%; -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .medium-offset-7 { margin-left: 58.33333%; }
  .medium-9 { -webkit-box-flex: 0; -webkit-flex: 0 0 75%; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .medium-offset-8 { margin-left: 66.66667%; }
  .medium-10 { -webkit-box-flex: 0; -webkit-flex: 0 0 83.33333%; -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .medium-offset-9 { margin-left: 75%; }
  .medium-11 { -webkit-box-flex: 0; -webkit-flex: 0 0 91.66667%; -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .medium-offset-10 { margin-left: 83.33333%; }
  .medium-12 { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .medium-offset-11 { margin-left: 91.66667%; }
  .medium-order-1 { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .medium-up-1 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .medium-up-1 > .column, .medium-up-1 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .medium-order-2 { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .medium-up-2 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .medium-up-2 > .column, .medium-up-2 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .medium-order-3 { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .medium-up-3 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .medium-up-3 > .column, .medium-up-3 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 33.33333%; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .medium-order-4 { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; }
  .medium-up-4 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .medium-up-4 > .column, .medium-up-4 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .medium-order-5 { -webkit-box-ordinal-group: 6; -webkit-order: 5; -ms-flex-order: 5; order: 5; }
  .medium-up-5 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .medium-up-5 > .column, .medium-up-5 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 20%; -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; }
  .medium-order-6 { -webkit-box-ordinal-group: 7; -webkit-order: 6; -ms-flex-order: 6; order: 6; }
  .medium-up-6 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .medium-up-6 > .column, .medium-up-6 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 16.66667%; -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .medium-up-1 > .column, .medium-up-1 > .columns { width: 100%; float: left; }
  .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) { clear: none; }
  .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) { clear: both; }
  .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child { float: left; }
  .medium-up-2 > .column, .medium-up-2 > .columns { width: 50%; float: left; }
  .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) { clear: none; }
  .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) { clear: both; }
  .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child { float: left; }
  .medium-up-3 > .column, .medium-up-3 > .columns { width: 33.33333%; float: left; }
  .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) { clear: none; }
  .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) { clear: both; }
  .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child { float: left; }
  .medium-up-4 > .column, .medium-up-4 > .columns { width: 25%; float: left; }
  .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) { clear: none; }
  .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) { clear: both; }
  .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child { float: left; }
  .medium-up-5 > .column, .medium-up-5 > .columns { width: 20%; float: left; }
  .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) { clear: none; }
  .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) { clear: both; }
  .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child { float: left; }
  .medium-up-6 > .column, .medium-up-6 > .columns { width: 16.66667%; float: left; }
  .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) { clear: none; }
  .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) { clear: both; }
  .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child { float: left; }
  .medium-up-7 > .column, .medium-up-7 > .columns { width: 14.28571%; float: left; }
  .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) { clear: none; }
  .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) { clear: both; }
  .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child { float: left; }
  .medium-up-8 > .column, .medium-up-8 > .columns { width: 12.5%; float: left; }
  .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) { clear: none; }
  .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) { clear: both; }
  .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child { float: left; } }

@media screen and (min-width: 40em) and (min-width: 40em) { .medium-expand { -webkit-box-flex: 1; -webkit-flex: 1 1 0px; -ms-flex: 1 1 0px; flex: 1 1 0px; } }

.row.medium-unstack .column, .row.medium-unstack .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; }

@media screen and (min-width: 40em) { .row.medium-unstack .column, .row.medium-unstack .columns { -webkit-box-flex: 1; -webkit-flex: 1 1 0px; -ms-flex: 1 1 0px; flex: 1 1 0px; } }

@media screen and (min-width: 40em) { .medium-collapse > .column, .medium-collapse > .columns { padding-left: 0; padding-right: 0; }
  .medium-uncollapse > .column, .medium-uncollapse > .columns { padding-left: 1.5rem; padding-right: 1.5rem; } }

@media screen and (min-width: 64em) { .large-1 { -webkit-box-flex: 0; -webkit-flex: 0 0 8.33333%; -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .large-offset-0 { margin-left: 0%; }
  .large-2 { -webkit-box-flex: 0; -webkit-flex: 0 0 16.66667%; -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .large-offset-1 { margin-left: 8.33333%; }
  .large-3 { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .large-offset-2 { margin-left: 16.66667%; }
  .large-4 { -webkit-box-flex: 0; -webkit-flex: 0 0 33.33333%; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .large-offset-3 { margin-left: 25%; }
  .large-5 { -webkit-box-flex: 0; -webkit-flex: 0 0 41.66667%; -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .large-offset-4 { margin-left: 33.33333%; }
  .large-6 { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .large-offset-5 { margin-left: 41.66667%; }
  .large-7 { -webkit-box-flex: 0; -webkit-flex: 0 0 58.33333%; -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .large-offset-6 { margin-left: 50%; }
  .large-8 { -webkit-box-flex: 0; -webkit-flex: 0 0 66.66667%; -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .large-offset-7 { margin-left: 58.33333%; }
  .large-9 { -webkit-box-flex: 0; -webkit-flex: 0 0 75%; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .large-offset-8 { margin-left: 66.66667%; }
  .large-10 { -webkit-box-flex: 0; -webkit-flex: 0 0 83.33333%; -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .large-offset-9 { margin-left: 75%; }
  .large-11 { -webkit-box-flex: 0; -webkit-flex: 0 0 91.66667%; -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .large-offset-10 { margin-left: 83.33333%; }
  .large-12 { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .large-offset-11 { margin-left: 91.66667%; }
  .large-order-1 { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .large-up-1 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .large-up-1 > .column, .large-up-1 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .large-order-2 { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .large-up-2 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .large-up-2 > .column, .large-up-2 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .large-order-3 { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .large-up-3 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .large-up-3 > .column, .large-up-3 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 33.33333%; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .large-order-4 { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; }
  .large-up-4 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .large-up-4 > .column, .large-up-4 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .large-order-5 { -webkit-box-ordinal-group: 6; -webkit-order: 5; -ms-flex-order: 5; order: 5; }
  .large-up-5 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .large-up-5 > .column, .large-up-5 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 20%; -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; }
  .large-order-6 { -webkit-box-ordinal-group: 7; -webkit-order: 6; -ms-flex-order: 6; order: 6; }
  .large-up-6 { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .large-up-6 > .column, .large-up-6 > .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 16.66667%; -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .large-up-1 > .column, .large-up-1 > .columns { width: 100%; float: left; }
  .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) { clear: none; }
  .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) { clear: both; }
  .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child { float: left; }
  .large-up-2 > .column, .large-up-2 > .columns { width: 50%; float: left; }
  .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) { clear: none; }
  .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) { clear: both; }
  .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child { float: left; }
  .large-up-3 > .column, .large-up-3 > .columns { width: 33.33333%; float: left; }
  .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) { clear: none; }
  .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) { clear: both; }
  .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child { float: left; }
  .large-up-4 > .column, .large-up-4 > .columns { width: 25%; float: left; }
  .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) { clear: none; }
  .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) { clear: both; }
  .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child { float: left; }
  .large-up-5 > .column, .large-up-5 > .columns { width: 20%; float: left; }
  .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) { clear: none; }
  .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) { clear: both; }
  .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child { float: left; }
  .large-up-6 > .column, .large-up-6 > .columns { width: 16.66667%; float: left; }
  .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) { clear: none; }
  .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) { clear: both; }
  .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child { float: left; }
  .large-up-7 > .column, .large-up-7 > .columns { width: 14.28571%; float: left; }
  .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) { clear: none; }
  .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) { clear: both; }
  .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child { float: left; }
  .large-up-8 > .column, .large-up-8 > .columns { width: 12.5%; float: left; }
  .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) { clear: none; }
  .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) { clear: both; }
  .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child { float: left; } }

@media screen and (min-width: 64em) and (min-width: 64em) { .large-expand { -webkit-box-flex: 1; -webkit-flex: 1 1 0px; -ms-flex: 1 1 0px; flex: 1 1 0px; } }

.row.large-unstack .column, .row.large-unstack .columns { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; }

@media screen and (min-width: 64em) { .row.large-unstack .column, .row.large-unstack .columns { -webkit-box-flex: 1; -webkit-flex: 1 1 0px; -ms-flex: 1 1 0px; flex: 1 1 0px; } }

@media screen and (min-width: 64em) { .large-collapse > .column, .large-collapse > .columns { padding-left: 0; padding-right: 0; }
  .large-uncollapse > .column, .large-uncollapse > .columns { padding-left: 1.5rem; padding-right: 1.5rem; } }

.shrink { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; max-width: 100%; }

.column.align-top, .align-top.columns { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }

.column.align-bottom, .align-bottom.columns { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }

.column.align-middle, .align-middle.columns { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }

.column.align-stretch, .align-stretch.columns { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { margin: 0; padding: 0; }

p { font-size: inherit; line-height: 1.6; margin-bottom: 1rem; text-rendering: optimizeLegibility; }

em, i { font-style: italic; line-height: inherit; }

strong, b { font-weight: bold; line-height: inherit; }

small { font-size: 80%; line-height: inherit; }

h1, h2, h3, h4, h5, h6 { font-family: "Pathway Gothic One", sans-serif; font-weight: normal; font-style: normal; color: inherit; text-rendering: optimizeLegibility; margin-top: 0; margin-bottom: 0.5rem; line-height: 1.4; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color: #929292; line-height: 0; }

h1 { font-size: 2.4rem; }

h2 { font-size: 2rem; }

h3 { font-size: 1.9rem; }

h4 { font-size: 1.8rem; }

h5 { font-size: 1.7rem; }

h6 { font-size: 1.6rem; }

@media screen and (min-width: 40em) { h1 { font-size: 4.8rem; }
  h2 { font-size: 4rem; }
  h3 { font-size: 3.1rem; }
  h4 { font-size: 2.5rem; }
  h5 { font-size: 2rem; }
  h6 { font-size: 1.6rem; } }

a { color: #2199e8; text-decoration: none; line-height: inherit; cursor: pointer; }

a:hover, a:focus { color: #1585cf; }

a img { border: 0; }

hr { max-width: 160rem; height: 0; border-right: 0; border-top: 0; border-bottom: 1px solid #929292; border-left: 0; margin: 2rem auto; clear: both; }

ul, ol, dl { line-height: 1.6; margin-bottom: 1rem; list-style-position: outside; }

li { font-size: inherit; }

ul { list-style-type: disc; margin-left: 1.25rem; }

ol { margin-left: 1.25rem; }

ul ul, ol ol { margin-left: 1.25rem; margin-bottom: 0; }

dl { margin-bottom: 1rem; }

dl dt { margin-bottom: 0.3rem; font-weight: bold; }

blockquote { margin: 0 0 1rem; padding: 0.9rem 2rem 0 1.9rem; border-left: 1px solid #929292; }

blockquote, blockquote p { line-height: 1.6; color: #8a8a8a; }

cite { display: block; font-size: 1.3rem; color: #8a8a8a; }

cite:before { content: '\2014 \0020'; }

abbr { color: #0a0a0a; cursor: help; border-bottom: 1px dotted #0a0a0a; }

code { font-family: Consolas, "Liberation Mono", Courier, monospace; font-weight: normal; color: #0a0a0a; background-color: #f1f1f2; border: 1px solid #929292; padding: 0.2rem 0.5rem 0.1rem; }

kbd { padding: 0.2rem 0.4rem 0; margin: 0; background-color: #f1f1f2; color: #0a0a0a; font-family: Consolas, "Liberation Mono", Courier, monospace; }

.subheader { margin-top: 0.2rem; margin-bottom: 0.5rem; font-weight: normal; line-height: 1.4; color: #8a8a8a; }

.lead { font-size: 78.125%; line-height: 1.6; }

.stat { font-size: 2.5rem; line-height: 1; }

p + .stat { margin-top: -1rem; }

.no-bullet { margin-left: 0; list-style: none; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.text-justify { text-align: justify; }

@media screen and (min-width: 40em) { .medium-text-left { text-align: left; }
  .medium-text-right { text-align: right; }
  .medium-text-center { text-align: center; }
  .medium-text-justify { text-align: justify; } }

@media screen and (min-width: 64em) { .large-text-left { text-align: left; }
  .large-text-right { text-align: right; }
  .large-text-center { text-align: center; }
  .large-text-justify { text-align: justify; } }

.show-for-print { display: none !important; }

@media print { * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; }
  .show-for-print { display: block !important; }
  .hide-for-print { display: none !important; }
  table.show-for-print { display: table !important; }
  thead.show-for-print { display: table-header-group !important; }
  tbody.show-for-print { display: table-row-group !important; }
  tr.show-for-print { display: table-row !important; }
  td.show-for-print { display: table-cell !important; }
  th.show-for-print { display: table-cell !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  .ir a:after, a[href^='javascript:']:after, a[href^='#']:after { content: ''; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  pre, blockquote { border: 1px solid #8a8a8a; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }

.flex-video { position: relative; height: 0; padding-bottom: 75%; margin-bottom: 1.6rem; overflow: hidden; }

.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.flex-video.widescreen { padding-bottom: 56.25%; }

.flex-video.vimeo { padding-top: 0; }

.align-right { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }

.align-center { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.align-justify { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.align-spaced { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }

.align-top { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }

.align-self-top { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }

.align-bottom { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }

.align-self-bottom { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }

.align-middle { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.align-self-middle { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }

.align-stretch { -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }

.align-self-stretch { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }

.small { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }

.small { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }

.small { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }

.small { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; }

.small { -webkit-box-ordinal-group: 6; -webkit-order: 5; -ms-flex-order: 5; order: 5; }

.small { -webkit-box-ordinal-group: 7; -webkit-order: 6; -ms-flex-order: 6; order: 6; }

@media screen and (min-width: 40em) { .medium { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .medium { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .medium { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .medium { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; }
  .medium { -webkit-box-ordinal-group: 6; -webkit-order: 5; -ms-flex-order: 5; order: 5; }
  .medium { -webkit-box-ordinal-group: 7; -webkit-order: 6; -ms-flex-order: 6; order: 6; } }

@media screen and (min-width: 64em) { .large { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .large { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .large { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .large { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; }
  .large { -webkit-box-ordinal-group: 6; -webkit-order: 5; -ms-flex-order: 5; order: 5; }
  .large { -webkit-box-ordinal-group: 7; -webkit-order: 6; -ms-flex-order: 6; order: 6; } }

body { font-size: 1.8rem; }

h1, h2, h3, h4, h5, h6 { text-transform: uppercase; }

.logo-header { position: fixed; background: #fff; top: 0; width: 100%; height: 86px; z-index: 9999; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.logo-header.scrolled { height: 56px; background: #f1f1f2; }

.logo-header .row { height: 100%; }

#logo { background: url(../img/Q.svg) no-repeat top left; text-indent: -9999px; display: inline-block; width: 42px; height: 43px; }

/* Header */
header { color: #929292; background: #f1f1f2; padding: 0; height: 666px; margin-top: 86px; padding: 18rem 0; }

.thirty-five { padding: 0; margin: 0 2rem 0 0; max-width: 450px; height: 300px; width: 100%; position: relative; overflow: hidden; }

.thirty-five .layer { position: absolute; width: 100%; height: 100%; padding: 0; z-index: 10; top: 0px; }

.thirty-five #layer1 { background: transparent url(../img/35-years-background-vector-2.svg) repeat top right fixed; background-size: 450px 700px; height: 296px; z-index: 1; }

.banner-text { margin: 0; padding: 0; display: inline-block; font-size: 4.8rem; min-width: 400px; }

@media screen and (max-width: 885px) { .banner-text { min-width: 465px; } }

/*Vertical Sliding*/
.slidingVertical { display: inline; text-indent: 8px; }

.slidingVertical span { animation: topToBottom 15s linear infinite 0s; -ms-animation: topToBottom 15s linear infinite 0s; -webkit-animation: topToBottom 15s linear infinite 0s; opacity: 0; overflow: hidden; position: absolute; }

.slidingVertical span:nth-child(2) { animation-delay: 3s; -ms-animation-delay: 3s; -webkit-animation-delay: 3s; }

.slidingVertical span:nth-child(3) { animation-delay: 6s; -ms-animation-delay: 6s; -webkit-animation-delay: 6s; }

.slidingVertical span:nth-child(4) { animation-delay: 9s; -ms-animation-delay: 9s; -webkit-animation-delay: 9s; }

.slidingVertical span:nth-child(5) { animation-delay: 12s; -ms-animation-delay: 12s; -webkit-animation-delay: 12s; }

/* Content */
#content { min-height: 500px; }

section { text-align: center; padding: 10rem 0 8rem; color: #929292; opacity: 0; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

section:first-child { opacity: 1; }

section.animate { opacity: 1; }

section.parallax { background: transparent url(../img/35-years-background-vector-2.svg) repeat top right fixed; background-size: cover; padding: 3rem 0; }

@media screen and (max-width: 768px) { section.parallax { padding: 2rem 0; } }

section h2 { font-size: 9rem; line-height: 1; }

@media screen and (max-width: 800px) { section h2 { font-size: 7rem; } }

section p { font-family: "adelle", serif; font-style: italic; font-size: 2.3rem; }

@media screen and (max-width: 800px) { section p { font-size: 1.6rem; } }

.timeline { margin-top: 10rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.timeline .column, .timeline .columns { margin-bottom: 40px; -webkit-box-flex: 1; -webkit-flex: 1 1 20%; -ms-flex: 1 1 20%; flex: 1 1 20%; }

@media screen and (max-width: 650px) { .timeline .column, .timeline .columns { -webkit-box-flex: 1; -webkit-flex: 1 1 100%; -ms-flex: 1 1 100%; flex: 1 1 100%; } }

.timeline p { font-size: 1.8rem; }

.timeline .icon { width: 165px; height: 165px; text-align: center; margin: 0 auto 4rem; line-height: 17rem; }

.timeline .icon .fa { width: 50%; height: 100%; opacity: 0; -webkit-transition: all 2s ease; transition: all 2s ease; }

.timeline .year { display: block; font-size: 4.8rem; line-height: 1.3; font-family: "Pathway Gothic One", sans-serif; color: white; margin-bottom: 4rem; position: relative; }

.timeline .year:after { position: absolute; z-index: -1; top: 50%; left: 50%; content: ''; width: 0%; height: 100%; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); -webkit-transition: all 1s ease; transition: all 1s ease; }

.timeline.animate .icon .fa { opacity: 1; }

.timeline.animate .year:after { width: 100%; }

.timeline .text strong { display: block; }

.timeline .entry-1 .icon { background: url(../img/35-circle-1981.png) no-repeat top left/cover; }

.timeline .entry-1 .fa { background: url("../img/open-sign-1981.svg") no-repeat center center; }

.timeline .entry-1 .year:after { background: #aed43e; }

.timeline .entry-1 .text a { color: #aed43e; }

.timeline .entry-2 .icon { background: url(../img/35-circle-1983.png) no-repeat top left/cover; }

.timeline .entry-2 .fa { background: url("../img/glasses-1983.svg") no-repeat center center; }

.timeline .entry-2 .year:after { background: #00b37e; }

.timeline .entry-2 .text a { color: #00b37e; }

.timeline .entry-3 .icon { background: url(../img/35-circle-1984.png) no-repeat top left/cover; }

.timeline .entry-3 .fa { background: url("../img/building-1984.svg") no-repeat center center; }

.timeline .entry-3 .year:after { background: #2e70b8; }

.timeline .entry-3 .text a { color: #2e70b8; }

.timeline .entry-4 .icon { background: url(../img/35-circle-1985.png) no-repeat top left/cover; }

.timeline .entry-4 .fa { background: url("../img/person-1985.svg") no-repeat center center; }

.timeline .entry-4 .year:after { background: #8b3996; }

.timeline .entry-4 .text a { color: #8b3996; }

.timeline .entry-5 .icon { background: url(../img/35-circle-1987.png) no-repeat top left/cover; }

.timeline .entry-5 .fa { background: url("../img/gears-1986.svg") no-repeat center center; }

.timeline .entry-5 .year:after { background: #c00071; }

.timeline .entry-5 .text a { color: #c00071; }

.timeline .entry-6 .icon { background: url(../img/35-circle-1986.png) no-repeat top left/cover; }

.timeline .entry-6 .fa { background: url("../img/apple-computer-1987.svg") no-repeat center center; width: 40%; }

.timeline .entry-6 .year:after { background: #ee5974; }

.timeline .entry-6 .text a { color: #ee5974; }

.timeline .entry-7 .icon { background: url(../img/35-circle-1991.png) no-repeat top left/cover; }

.timeline .entry-7 .fa { background: url("../img/building-1991.svg") no-repeat center center; }

.timeline .entry-7 .year:after { background: #faaa57; }

.timeline .entry-7 .text a { color: #faaa57; }

.timeline .entry-8 .icon { background: url(../img/35-circle-1994.png) no-repeat top left/cover; }

.timeline .entry-8 .fa { background: url("../img/qltd-logo-1994.svg") no-repeat center center; width: 80%; }

.timeline .entry-8 .year:after { background: #eec81f; }

.timeline .entry-8 .text a { color: #eec81f; }

.timeline .entry-9 .icon { background: url(../img/35-circle-1995.png) no-repeat top left/cover; }

.timeline .entry-9 .fa { background: url("../img/peter-1995.svg") no-repeat center center; }

.timeline .entry-9 .year:after { background: #f9b688; }

.timeline .entry-9 .text a { color: #f9b688; }

.timeline .entry-10 .icon { background: url(../img/35-circle-1996.png) no-repeat top left/cover; }

.timeline .entry-10 .fa { background: url("../img/www-1996.svg") no-repeat center center; }

.timeline .entry-10 .year:after { background: #e5a59d; }

.timeline .entry-10 .text a { color: #e5a59d; }

.timeline .entry-11 .icon { background: url(../img/35-circle-1997.png) no-repeat top left/cover; }

.timeline .entry-11 .fa { background: url("../img/palm-tree-1997.svg") no-repeat center center; }

.timeline .entry-11 .year:after { background: #d87fca; }

.timeline .entry-11 .text a { color: #d87fca; }

.timeline .entry-12 .icon { background: url(../img/35-circle-2003.png) no-repeat top left/cover; }

.timeline .entry-12 .fa { background: url("../img/globe-2003.svg") no-repeat center center; }

.timeline .entry-12 .year:after { background: #88a5e4; }

.timeline .entry-12 .text a { color: #88a5e4; }

.timeline .entry-13 .icon { background: url(../img/35-circle-2011.png) no-repeat top left/cover; }

.timeline .entry-13 .fa { background: url("../img/torch-2011.svg") no-repeat center center; width: 20%; }

.timeline .entry-13 .year:after { background: #57c5d6; }

.timeline .entry-13 .text a { color: #57c5d6; }

.timeline .entry-14 .icon { background: url(../img/35-circle-2013.png) no-repeat top left/cover; }

.timeline .entry-14 .fa { background: url("../img/leaf-2013.svg") no-repeat center center; }

.timeline .entry-14 .year:after { background: #70e9e1; }

.timeline .entry-14 .text a { color: #70e9e1; }

.timeline .entry-15 .icon { background: url(../img/35-circle-2016.png) no-repeat top left/cover; }

.timeline .entry-15 .fa { background: url("../img/wine-2016.svg") no-repeat center center; width: 30%; }

.timeline .entry-15 .year:after { background: #83f5bb; }

.timeline .entry-15 .text a { color: #83f5bb; }

#gallery { background: #e27f67; color: white; padding: 10rem 0 0; }

#gallery .section-icon { width: 165px; height: 165px; margin: 0 auto 4rem; background: url(../img/35-circle-1995.png) no-repeat top left/cover; }

#gallery .section-icon i { width: 50%; height: 100%; background: url(../img/camera-photo-history.svg) no-repeat center center; }

.carousel { margin-top: 5rem; }

.slide .img-row { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.slide .img-row:first-child div:nth-child(1):before { background: rgba(162, 123, 170, 0.5); }

.slide .img-row:first-child div:nth-child(2):before { background: rgba(179, 71, 105, 0.5); }

.slide .img-row:first-child div:nth-child(3):before { background: rgba(218, 86, 132, 0.5); }

.slide .img-row:last-child div:nth-child(1):before { background: rgba(243, 215, 77, 0.5); }

.slide .img-row:last-child div:nth-child(2):before { background: rgba(226, 151, 83, 0.5); }

.slide .img-row:last-child div:nth-child(3):before { background: rgba(220, 75, 85, 0.5); }

.slide .img-row div { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-transition: all 0.5s; transition: all 0.5s; background: url(http://i.imgur.com/dpQzWkM.jpg) no-repeat center center; background-size: cover; position: relative; display: block; }

.slide .img-row div.grow { -webkit-box-flex: 2; -webkit-flex-grow: 2; -ms-flex-positive: 2; flex-grow: 2; }

.slide .img-row div:before { content: ""; display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; z-index: 999; }

.slide .img-row div:hover:before, .slide .img-row div.grow:before { background: transparent !important; }

.slide .img-row div img { max-width: none; display: none; }

.slick-slide { background: tomato; }

.slick-slide img { width: 100%; height: auto; }

.slick-next { background: url(../img/right-arrow-slider.svg) no-repeat center center; right: 0; }

.slick-prev { background: url(../img/left-arrow-slider.svg) no-repeat center center; left: 0; }

.slick-arrow { width: 5%; height: 100%; background-origin: content-box; padding: 0 20px; text-indent: -9999px; position: absolute; top: 0; z-index: 999; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; overflow: hidden; opacity: 1; }

@media screen and (max-width: 768px) { .slick-arrow { display: none; } }

.slick-arrow:hover { opacity: 0.5; margin: 0; }

.slick-arrow:focus { outline: none; }

#history .slider { margin-top: 6rem; }

#history .slider .slick-prev { left: -5%; }

#history .slider .slick-next { right: -5%; }

#alum { background: #41b387; color: white; padding: 8rem 0; }

#alum a { color: white; }

#interns { background: #72dca1; color: white; }

#interns a { color: white; }

.alum { margin-top: 6rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.alum .person { margin-bottom: 1.5rem; font-weight: bold; font-style: italic; font-size: 2.4rem; -webkit-box-flex: 1; -webkit-flex: 1 1 25%; -ms-flex: 1 1 25%; flex: 1 1 25%; }

@media screen and (max-width: 1140px) { .alum .person { -webkit-box-flex: 1; -webkit-flex: 1 1 30%; -ms-flex: 1 1 30%; flex: 1 1 30%; } }

@media screen and (max-width: 800px) { .alum .person { -webkit-box-flex: 1; -webkit-flex: 1 1 50%; -ms-flex: 1 1 50%; flex: 1 1 50%; } }

@media screen and (max-width: 550px) { .alum .person { -webkit-box-flex: 1; -webkit-flex: 1 1 100%; -ms-flex: 1 1 100%; flex: 1 1 100%; } }

#party .section-icon { width: 165px; height: 165px; margin: 0 auto 4rem; background: url(../img/35-circle-1986.png) no-repeat top left/cover; }

#party .section-icon i { width: 30%; height: 100%; background: url(../img/wine-35-party.svg) no-repeat center center; }

/* Footer */
footer { background: #929292; color: #fff; padding: 6.3rem 0; }

footer p { font-size: 1.2rem; }

footer .social-icons { margin: 5rem 0; }

footer .social-icons li { list-style: none; display: inline-block; margin-right: 1.5rem; }

footer .social-icons a { color: #fff; font-size: 2.4rem; }

/* Header Animation */
/*topToBottom Animation*/

@-webkit-keyframes topToBottom { 0% { opacity: 0; }
  8% { opacity: 0;
    -webkit-transform: translateY(-50px); }
  12% { opacity: 1;
    -webkit-transform: translateY(0px); }
  25% { opacity: 1;
    -webkit-transform: translateY(0px); }
  30% { opacity: 0;
    -webkit-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; } }

/*# sourceMappingURL=app.css.map */