body {
    font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

.logo-header {
    position: fixed;
    background: #fff;
    top: 0;
    width: 100%;
    height: 86px;
    z-index: 9999;
    transition: all 0.5s ease;

    &.scrolled {
        height: 56px;
        background: $light-gray;
    }

    .row {
        height: 100%;
    }
}

#logo {
    background: url(../img/Q.svg) no-repeat top left;
    text-indent: -9999px;
    display: inline-block;
    width: 42px;
    height: 43px;
}

/* Header */
header {
    color: $medium-gray;
    background: $light-gray;
    padding: 0;
    height: 666px;
    margin-top: 86px;
}

.thirty-five {
    padding: 0;
    margin: 0 2rem 0 0;
    max-width: 450px;
    height: 666px;
    width: 100%;
    position: relative;
    overflow: hidden;

    .layer {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0;
        z-index: 10;
        top: 0px;
    }

    #layer1 {
        background: transparent url(../img/35-years-background-vector-2.svg) repeat top right fixed;
        background-size: 450px 700px;
        z-index: 1;
    }

    #top-layer {
        border-top: 19rem solid $light-gray;
        border-bottom: 18rem solid $light-gray;
    }
}

.banner-text {
    margin: 0;
    padding: 0;
    display: inline-block;
    min-width: 400px;
}

/*Vertical Sliding*/
.slidingVertical {
    display: inline;
    text-indent: 8px;
}

.slidingVertical span {
    animation: topToBottom 15s linear infinite 0s;
    -ms-animation: topToBottom 15s linear infinite 0s;
    -webkit-animation: topToBottom 15s linear infinite 0s;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.slidingVertical span:nth-child(2) {
    animation-delay: 3s;
    -ms-animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.slidingVertical span:nth-child(3) {
    animation-delay: 6s;
    -ms-animation-delay: 6s;
    -webkit-animation-delay: 6s;
}

.slidingVertical span:nth-child(4) {
    animation-delay: 9s;
    -ms-animation-delay: 9s;
    -webkit-animation-delay: 9s;
}

.slidingVertical span:nth-child(5) {
    animation-delay: 12s;
    -ms-animation-delay: 12s;
    -webkit-animation-delay: 12s;
}

/* Content */
#content {
    min-height: 500px;
}

section {
    text-align: center;
    padding: 10rem 0 8rem;
    color: $medium-gray;
    opacity: 0;
    transition: all 0.5s ease;

    &:first-child {
        opacity: 1;
    }

    &.animate {
        opacity: 1;
    }

    &.parallax {
        background: transparent url(../img/35-years-background-vector-2.svg) repeat top right fixed;
        background-size: cover;
        padding: 3rem 0;

        @include responsive("768px") {
            padding: 2rem 0;
        }
    }

    h2 {
        font-size: 9rem;
        line-height: 1;

        @include responsive("800px") {
            font-size: 7rem;
        }
    }

    p {
        font-family: $body-font-family;
        font-style: italic;
        font-size: 2.3rem;

        @include responsive("800px") {
            font-size: 1.6rem;
        }
    }
}

.timeline {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;

    .column {
        margin-bottom: 40px;
        flex: 1 1 20%;

        @include responsive("650px") {
            flex: 1 1 100%;
        }
    }

    p {
        font-size: 1.8rem;
    }

    .icon {
        width: 165px;
        height: 165px;
        text-align: center;
        margin: 0 auto 4rem;
        line-height: 17rem;

        .fa {
            width: 50%;
            height: 100%;
            opacity: 0;
            transition: all 2s ease;

            .animate & {
                opacity: 1;
            }
        }
    }

    .year {
        display: block;
        font-size: 4.8rem;
        line-height: 1.3;
        font-family: $header-font-family;
        color: white;
        margin-bottom: 4rem;
        position: relative;

        &:after {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            content: '';
            width: 0%;
            height: 100%;
            transform: translateX(-50%) translateY(-50%);
            transition: all 1s ease;
        }

        .animate &:after {
            width: 100%;
        }
    }

    .text {
        strong {
            display: block;
        }
    }

    .entry-1 {
        .icon {
            background: url(../img/35-circle-1981.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/open-sign-1981.svg") no-repeat center center;
        }

        .year:after {
            background: $year-1;
        }

        .text a {
            color: $year-1;
        }
    }

    .entry-2 {
        .icon {
            background: url(../img/35-circle-1983.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/glasses-1983.svg") no-repeat center center;
        }

        .year:after {
            background: $year-2;
        }

        .text a {
            color: $year-2;
        }
    }

    .entry-3 {
        .icon {
            background: url(../img/35-circle-1984.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/building-1984.svg") no-repeat center center;
        }

        .year:after {
            background: $year-3;
        }

        .text a {
            color: $year-3;
        }
    }

    .entry-4 {
        .icon {
            background: url(../img/35-circle-1985.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/person-1985.svg") no-repeat center center;
        }

        .year:after {
            background: $year-4;
        }

        .text a {
            color: $year-4;
        }
    }

    .entry-5 {
        .icon {
            background: url(../img/35-circle-1987.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/gears-1986.svg") no-repeat center center;
        }

        .year:after {
            background: $year-5;
        }

        .text a {
            color: $year-5;
        }
    }

    .entry-6 {
        .icon {
            background: url(../img/35-circle-1986.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/apple-computer-1987.svg") no-repeat center center;
            width: 40%;
        }

        .year:after {
            background: $year-6;
        }

        .text a {
            color: $year-6;
        }
    }

    .entry-7 {
        .icon {
            background: url(../img/35-circle-1991.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/building-1991.svg") no-repeat center center;
        }

        .year:after {
            background: $year-7;
        }

        .text a {
            color: $year-7;
        }
    }

    .entry-8 {
        .icon {
            background: url(../img/35-circle-1994.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/qltd-logo-1994.svg") no-repeat center center;
            width: 80%;
        }

        .year:after {
            background: $year-8;
        }

        .text a {
            color: $year-8;
        }
    }

    .entry-9 {
        .icon {
            background: url(../img/35-circle-1995.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/peter-1995.svg") no-repeat center center;
        }

        .year:after {
            background: $year-9;
        }

        .text a {
            color: $year-9;
        }
    }

    .entry-10 {
        .icon {
            background: url(../img/35-circle-1996.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/www-1996.svg") no-repeat center center;
        }

        .year:after {
            background: $year-10;
        }

        .text a {
            color: $year-10;
        }
    }

    .entry-11 {
        .icon {
            background: url(../img/35-circle-1997.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/palm-tree-1997.svg") no-repeat center center;
        }

        .year:after {
            background: $year-11;
        }

        .text a {
            color: $year-11;
        }
    }

    .entry-12 {
        .icon {
            background: url(../img/35-circle-2003.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/globe-2003.svg") no-repeat center center;
        }

        .year:after {
            background: $year-12;
        }

        .text a {
            color: $year-12;
        }
    }

    .entry-13 {
        .icon {
            background: url(../img/35-circle-2011.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/torch-2011.svg") no-repeat center center;
            width: 20%;
        }

        .year:after {
            background: $year-13;
        }

        .text a {
            color: $year-13;
        }
    }

    .entry-14 {
        .icon {
            background: url(../img/35-circle-2013.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/leaf-2013.svg") no-repeat center center;
        }

        .year:after {
            background: $year-14;
        }

        .text a {
            color: $year-14;
        }
    }

    .entry-15 {
        .icon {
            background: url(../img/35-circle-2016.png) no-repeat top (left / cover);
        }

        .fa {
            background: url("../img/wine-2016.svg") no-repeat center center;
            width: 30%;
        }

        .year:after {
            background: $year-15;
        }

        .text a {
            color: $year-15;
        }
    }
}

#gallery {
    background: #e27f67;
    color: white;
    padding: 10rem 0 0;

    .section-icon {
        width: 165px;
        height: 165px;
        margin: 0 auto 4rem;
        background: url(../img/35-circle-1995.png) no-repeat top (left / cover);

        i {
            width: 50%;
            height: 100%;
            background: url(../img/camera-photo-history.svg) no-repeat center center;
        }
    }
}

.carousel {
    margin-top: 5rem;
}

.slide {
    .img-row {
        display: flex;
        flex-wrap: wrap;

        &:first-child {
            div {
                &:nth-child(1):before {
                    background: rgba(162, 123, 170, 0.5);
                }

                &:nth-child(2):before {
                    background: rgba(179, 71, 105, 0.5);
                }

                &:nth-child(3):before {
                    background: rgba(218, 86, 132, 0.5);
                }
            }
        }

        &:last-child {
            div {
                &:nth-child(1):before {
                    background: rgba(243, 215, 77, 0.5);
                }

                &:nth-child(2):before {
                    background: rgba(226, 151, 83, 0.5);
                }

                &:nth-child(3):before {
                    background: rgba(220, 75, 85, 0.5);
                }
            }
        }

        div {
            flex: 1 1 auto;
            transition: all 0.5s;
            background: url(http://i.imgur.com/dpQzWkM.jpg) no-repeat center center;
            background-size: cover;
            position: relative;
            display: block;

            &.grow {
                flex-grow: 2;
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transition: all .3s linear;
                z-index: 999;
            }

            &:hover:before, &.grow:before {
                background: transparent !important;
            }

            img {
                max-width: none;
                display: none;
            }
        }
    }
}

.slick-slide {
    background: tomato;

    img {
        width: 100%;
        height: auto;
    }
}

#alum {
    background: #41b387;
    color: white;
    padding: 8rem 0;
}

#interns {
    background: #72dca1;
    color: white;
}

.people {
    margin-top: 6rem;

    .row {
        opacity: 0;
        transition: all 1s ease;

        &.animate {
            opacity: 1;
        }
    }

    .small-3, .person {
        margin-bottom: 1.5rem;
        font-weight: bold;
        font-style: italic;
        font-size: 2.4rem;
    }
}

/* Footer */
footer {
    background: $medium-gray;
    color: #fff;
    padding: 6.3rem 0;

    p {
        font-size: 1.2rem;
    }

    .social-icons {
        margin: 5rem 0;

        li {
            list-style: none;
            display: inline-block;
            margin-right: 1.5rem;
        }

        a {
            color: #fff;
            font-size: 2.4rem;
        }
    }
}

/* Header Animation */
/*topToBottom Animation*/
@-moz-keyframes topToBottom {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        -moz-transform: translateY(-50px);
    }

    13% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }

    30% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes topToBottom {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }

    12% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    30% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes topToBottom {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
        -ms-transform: translateY(-50px);
    }

    10% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }

    25% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }

    30% {
        opacity: 0;
        -ms-transform: translateY(50px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}